## LOGICAL OPERATORS

In [1]:
True and False

False

In [2]:
False and False

False

In [3]:
True and True

True

In [4]:
True or False

True

In [5]:
not(True)

False

### Comparison Operator

* equals to -- ==
* greater -- >
* less -- <
* less or equals -- <=
* greater or equal -- >=
* not equal -- !=

## Examples

In [14]:
student_one = 'sola'
student_two = 'tobi'

tobi = 35
akeem = 22

student_one == student_two

akeem < tobi and akeem <= tobi

True

## Arithmetic Operators

* add -- +
* subtract -- > -
* multiply -- *
* normal division -- /
* floor division -- //
* modulus -- %
* power -- **
* root -- ** (1/n))

In [18]:
100 / 3

33.333333333333336

In [19]:
100 % 3

1

In [21]:
3 ** 3

27

In [25]:
36 ** (1/2)

6.0

In [30]:
# write a program that converts days to weeks 

days = int(input('Enter number of days: '))
weeks = days // 7
rem_days = days % 7
print(f'There are {weeks} weeks and {rem_days} days in {days} days ')

There are 2 weeks and 5 days in 19 days

### Conditionals

In [38]:
score = int(input('ENter your jamb score: '))
name = input('enter your name: ')

if score < 200:
    print(f'Sorry {name} try next year')
elif score < 350:
    print(f'Congratulations {name} you are admitted')
elif score <= 400:
    print(f'Congratulations {name} you are admitted on schorlarship')